<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>eAbbott Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>17/10/06 15:33:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserRegistrationTest.doRegistration(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.UserRegistrationTest@67c33749]">doRegistration</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>17/10/06 15:33:51</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UserRegistrationTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.UserRegistrationTest@67c33749]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="89bb9f">  <td>17/10/06 15:33:53</td>   <td>1399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLogin(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.LoginTest@52af26ee]">doLogin</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="89bb9f">  <td>17/10/06 15:34:23</td>   <td>31942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.LoginTest@52af26ee]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>17/10/06 15:34:25</td>   <td>33427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ANOrderTest.placeANOrder(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.ANOrderTest@21282ed8]">placeANOrder</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>17/10/06 15:37:15</td>   <td>203887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ANOrderTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.ANOrderTest@21282ed8]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="aba8be">  <td>17/10/06 15:37:15</td>   <td>204002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleDivisionOrderTest.placeOrder(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.MultipleDivisionOrderTest@273e7444]">placeOrder</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="aba8be">  <td>17/10/06 15:39:21</td>   <td>329327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultipleDivisionOrderTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.MultipleDivisionOrderTest@273e7444]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="a2b896">  <td>17/10/06 15:39:22</td>   <td>331161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCheckTest.addAccount(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.ProfileCheckTest@f09733f]">addAccount</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="a2b896">  <td>17/10/06 15:39:48</td>   <td>356714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCheckTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.ProfileCheckTest@f09733f]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="ffaf86">  <td>17/10/06 15:39:49</td>   <td>357361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickOrderImportExcelOrderTest.placeOrder(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.QuickOrderImportExcelOrderTest@1530c739]">placeOrder</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="ffaf86">  <td>17/10/06 15:41:25</td>   <td>454264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickOrderImportExcelOrderTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.QuickOrderImportExcelOrderTest@1530c739]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="ae8e6e">  <td>17/10/06 15:41:26</td>   <td>455244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickOrderBySavedCartTest.placeOrder(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.QuickOrderBySavedCartTest@6bbe85a8]">placeOrder</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="ae8e6e">  <td>17/10/06 15:42:51</td>   <td>539799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickOrderBySavedCartTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.QuickOrderBySavedCartTest@6bbe85a8]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="66bd67">  <td>17/10/06 15:42:52</td>   <td>540610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuickOrderByProductListTest.placeOrder(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.QuickOrderByProductListTest@33bc72d1]">placeOrder</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="66bd67">  <td>17/10/06 15:44:22</td>   <td>630683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuickOrderByProductListTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.QuickOrderByProductListTest@33bc72d1]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7a78e3">  <td>17/10/06 15:44:23</td>   <td>631575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriceCheckTest.doPriceCheck(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.PriceCheckTest@1033576a]">doPriceCheck</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7a78e3">  <td>17/10/06 15:45:30</td>   <td>698591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PriceCheckTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.PriceCheckTest@1033576a]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="9e8898">  <td>17/10/06 15:45:30</td>   <td>699140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriceCheckAndOrderPlaceTest.doPriceCheckAndPlaceOrder(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.PriceCheckAndOrderPlaceTest@4bdeaabb]">doPriceCheckAndPlaceOrder</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="9e8898">  <td>17/10/06 15:47:00</td>   <td>788982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PriceCheckAndOrderPlaceTest.quit()[pri:0, instance:com.eAbbott.pom.testcases.PriceCheckAndOrderPlaceTest@4bdeaabb]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
</table>
