<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>18/02/15 21:20:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IMDBMovies.placeOrder(java.util.Hashtable)[pri:0, instance:com.eAbbott.pom.testcases.frontstore.IMDBMovies@3d6f0054]">placeOrder</td> 
  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/02/15 21:23:08</td>   <td>133145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;IMDBMovies.quit()[pri:0, instance:com.eAbbott.pom.testcases.frontstore.IMDBMovies@3d6f0054]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1421866327</td>   <td></td> </tr>
</table>
