<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>18/02/17 15:57:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IMDBMoviesTest.placeOrder(java.util.Hashtable)[pri:0, instance:com.IMDB.pom.testcases.frontstore.IMDBMoviesTest@5403f35f]">placeOrder</td> 
  <td>main@122114483</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/02/17 15:59:44</td>   <td>163368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;IMDBMoviesTest.quit()[pri:0, instance:com.IMDB.pom.testcases.frontstore.IMDBMoviesTest@5403f35f]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@122114483</td>   <td></td> </tr>
</table>
